@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

html {
    font-family: "Dancing Script", cursive;
    font-size: 25px;
    color: #ffffff;
    text-align: center;
}

body {
    background: url(../image/background-blackboard-mobile.png) no-repeat;
    background-size: cover;
    height: 100vh;
}
