@media(max-height: 670px) {
    .main p {
        color: #ffffff;
        text-align: center;
        margin: 0 30px;
    }

    .main .box-gift {
        max-width: 40%;
    }
}

@media(max-width: 375px){
    .main p {
        margin: 0 30px 10px;
    }
}

@media(min-width: 900px) {
    body {
        background-image: none;
        display: flex;
        justify-content: center;
    }

    .main p {
        display: none;
    }

    .main span {
        display: block;
        font-family: sans-serif;
        color: #000000;
    }

    .main .box-gift::after {
        display: none;
    }

    .main h2 {
        display: none;
    }

    .main .romantic-dinner {
        display: none;
    }
}